<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day18_upload</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpfileServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.UpfileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListFileServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.ListFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.DownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChagenFileServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.ChagenFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteFileservlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.DeleteFileservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClientUpload</servlet-name>
    <servlet-class>cn.itcast.web.controller.ClientUpload</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllFileServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.AllFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpfileServlet</servlet-name>
    <url-pattern>/servlet/UpfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListFileServlet</servlet-name>
    <url-pattern>/servlet/ListFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/servlet/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChagenFileServlet</servlet-name>
    <url-pattern>/servlet/ChagenFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFileservlet</servlet-name>
    <url-pattern>/servlet/DeleteFileservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientUpload</servlet-name>
    <url-pattern>/servlet/ClientUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllFileServlet</servlet-name>
    <url-pattern>/servlet/AllFileServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>